@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Titillium+Web:wght@200;300;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
	min-height: 100%;
	background-color: #f9f9f9;
}

@media (min-width: 768px) {
	#root {
		background-color: #5c1f06;
	}
}

header,
main,
footer {
	padding: 0 10px;
	background-color: #f9f9f9;
}

h1 {
	font-family: "Titillium Web", sans-serif;
	color: #d97852;
}

h2 {
	color: #d97852;
	font-family: "Open Sans", sans-serif;

	&::first-letter {
		text-transform: uppercase;
	}
}
h3 {
	font-family: "Open Sans", sans-serif;
	color: #524641;
	text-transform: capitalize;
}
h5 {
	font-family: "Titillium Web", sans-serif;
	font-size: 16px;
	color: #524641;
	font-weight: 700;
}
p {
	font-family: "Open Sans", sans-serif;
	color: #524641;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	opacity: 1;
}
