.grid {
	display: grid;
	grid-template-columns: 3fr 9fr;
}
.gridCars {
	margin-left: 20px;
	margin-bottom: 30px;
	li {
		list-style: none;
		a {
			text-decoration: none;
			color: #524641;
		}
	}
}
// 	display: grid;
// 	grid-template-columns: 1fr 1fr;
// 	li {
// 		border: solid 1px black;
// 		list-style: none;
// 		a {
// 			width: 100%;
// 			text-align: center;
// 		}
// 	}
// }
